
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutMasterPage.cshtml";
}

<h2>Home</h2>





@System.Web.Optimization.Scripts.Render("~/Homejs.js")
<script>
    $(document).ready(function () {
        _vbVeer.init();
    });
</script>

